


QuitScreen, FormScreen, QuestionScreen, InfoScreen {
    align: center middle;
}

#quit-dialog, #question-dialog, #form-screen {
    width: 50%;
    height: auto;
    background: $surface;
    padding: 1 2;
}

Label {
    width: 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 0;
}

Button {
    width: 100%;
}

.form-screen-input:focus {
    background: red;
}

#quit-dialog {
    
    grid-size: 2;
    align: center middle;
    grid-gutter: 0 2;
}

#quit-label {
    column-span: 2;
    height: auto;
    width: 1fr;
    content-align: center middle;
}

InputWithBorder Input {
    padding: 0 1;
    margin: 0;
}

#form-screen-submit {
    margin-top: 1;
}

FormScreen #description, FormScreen #comment {
    padding: 1 0;
    height: auto;
    max-height: 5;
}

ListItem {
    padding-left: 1;
}

Collapsible {
    padding-bottom: 1;
}

CollapsibleTitle {
}

.card-label {
    text-align: left;
    padding-left: 1;
}

.card-not-started {
    background: #e6b800
}

.card-not-started > * , .card-blocked > *{
    color: black;
}

.card-started {
    background: #004d99;
}

.card-delayed {
    background: #b30000;
}

.card-done {
    background: #269900;
}
.card-blocked {
    background: lightgray;
    color: black;
}

.card-skipped {
    background: $surface;
}

.card-deleted {
    background: $surface;
}

.card-comment{
    height: auto;
    margin: 0;
    background: #3a4352;
}

.card-label {
    width: 100%;
    height: auto;
}

.card-label-left, .card-label-right {
    height: auto;
    text-align: left;
    margin: 0;
    padding: 0;
}

.card-label-left {
    width: 1fr;
}

.card-label-right {
    width: 3fr;
    margin-right: 1;
}

DoubleLabel TextArea {
    border: hidden black;
    background: #404040;
    margin: 0;
    padding: 0;
}

Toast {
    padding: 1;
}

ToastRack {
    align: center top;
}

MarkdownViewer {
    width: 100%;
    margin: 0;
    padding: 0;
    align: center top;
}

MardownViewer>Grid {
    width: 100%;
}

CheckList {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 1 1;
}

Checkbox {
    width: 100%;
    border: hidden black;
    padding: 0;
    margin: 0;
}

