
QuitScreen, FormScreen {
    align: center middle;
}

Grid, Vertical {
    width: 50%;
    height: auto;
    background: $surface;
    padding: 1 2;
}

Label {
    width: 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 1;
}

Button {
    width: 100%;
}

#quit-dialog {
    
    grid-size: 2;
    align: center middle;
    grid-gutter: 0 2;
}

#quit-label {
    column-span: 2;
    height: auto;
    width: 1fr;
    content-align: center middle;
}

InputWithBorder Input {
    padding: 0 1;
    margin: 0;
}
